{% extends "blog/layout.html" %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h1>hello django</h1>

              <table class="table table-hover table-bordered">
              <tbody>
              {% for post in post_list %}
              <tr>
                  <td>
                    {% comment %}
                      <a href="{% url "blog.views.post_detail" post.pk %}">
                        {{ post.title }}
                      </a>
                      <a href="{% url "post_detail" post.pk %}">
                        {{ post.title }}
                      </a>
                    {% endcomment %}
                    <a href="{% url "blog:post_detail" post.pk %}">
                      {{ post.title }}
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}
