{% extends "blog/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {{ post.title }}
                    by {{ post.author.username }}
                </div>
                <div class="panel-body">
                      {% if post.photo %}
                          <img src="{{ post.photo.url }}" />
                      {% endif %}

                      {{ post.content|linebreaks }}

                      <hr/>
                      <a href="{% url "blog:index" %}" class="btn btn-default">목록</a>
                      <a href="{% url "blog:post_update" post.pk %}" class="btn btn-info">수정</a>
                      <a href="{% url "blog:post_delete" post.pk %}" class="btn btn-danger">삭제</a>

                      <h3>Comments</h3>

                      <a href="{% url "blog:comment_new" post.pk %}">댓글 쓰기</a>

                      <ul>
                      {% for comment in post.comment_set.all %}
                          <li>
                              {{ comment.message }}
                              <a href="{% url "blog:comment_edit" post.pk comment.pk %}">수정</a>
                              <a href="{% url "blog:comment_delete" post.pk comment.pk %}" class="text-danger">삭제</a>
                          </li>
                      {% endfor %}
                      </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
